.latest{
    display: flex;
    height: 570px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.latest-container{
    display: flex;
    gap: 45px;
    margin-top: 10px;
}

.latest-title{
    font-size: 24px;
}