.latest-article{
    padding: 8px;
    transition: background-color 0.3s; 
}

.latest-article:hover{
    background-color: rgba(78, 154, 169, 0.1);
    border: 1px solid #4E9AA97F;
    margin: -1px;
}

.article-details{
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
    gap: 3px;
}

.article-info.-read-time{
    color: #121212;
    opacity: 0.5;
    font-size: 13px;
}

.article-info.-fruit-name{
    color: #F5556E;
    font-size: 13px;
    font-weight: 500;
}

.article-info.-description{
    color: #000;
}