.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    width: 100%;
    height: 90px;
}

.main-header .main-action{
    font-family: "Poppins";
    text-decoration: none;
}

.main-header .logoContainer{
    display: flex;
    align-items: center;
    margin-left: 90px;
}

.logoContainer img{
    margin-right: 10px;
}


.main-action.-profile{
    color: #11BCC7;
    font-weight: 700;
}

.main-action.-blog{
    color: #000;
}

.blogButtons{
    display: flex;
    gap: 20px;
}