.main-header{
    background-color: #fff;
    width: 100%;
    height: 90px;
}

.main-header .navigation{
    font-family: "Poppins";
    color: #000;
    text-decoration: none;
}

.main-header .navigation.-profile{
    color: #11BCC7;
    font-weight: 700;
    margin-left: 90px;
}